<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartJawi"
        tools:targetApi="31">
        <activity
            android:name=".Game.VG.BetulSalah5"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahNombor4"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahNombor3"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahNombor2"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahNombor1"
            android:exported="false" />
        <activity
            android:name=".Game.VG.ResultVG"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahWarna5"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahWarna4"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahWarna3"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahWarna2"
            android:exported="false" />
        <activity
            android:name=".Game.VG.BetulSalahWarna1"
            android:exported="false" />
        <activity
            android:name=".NomborJawi.NomborJawiActivity"
            android:exported="false" />
        <activity
            android:name=".WarnaSection.WarnaActivity"
            android:exported="false" />
        <activity
            android:name=".Eja.FirstEja"
            android:exported="false" />
        <activity
            android:name=".Game.Cw.Intro_Cw"
            android:exported="false" />
        <activity
            android:name=".HijaiyahSection.HijaiyahActivity"
            android:exported="false" />
        <activity
            android:name=".Eja.EjaActivity"
            android:exported="false" />
        <activity
            android:name=".Eja.QuestionEjaActivity"
            android:exported="false" />
        <activity
            android:name=".Eja.ResultEjaActivity"
            android:exported="false" />
        <activity
            android:name=".Eja.wonEja"
            android:exported="false" />
        <activity
            android:name=".Credits"
            android:exported="false" />
        <activity
            android:name=".Rewards"
            android:exported="false" />
        <activity
            android:name=".ProgressTracking"
            android:exported="false" />
        <activity
            android:name=".Belajar.BuahJawi"
            android:exported="false" />
        <activity
            android:name=".Belajar.HurufJawi"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Result_Warna"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Result_Haiwan"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Result_Nombor"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Result_Buah"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Game_Haiwan"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Game_Warna"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Game_Nombor"
            android:exported="false" />
        <activity
            android:name=".Game.MG.Mg_Game_Buah"
            android:exported="false" />
        <activity
            android:name=".Belajar.HaiwanJawi"
            android:exported="false" />
        <activity
            android:name=".Belajar.NomborJ"
            android:exported="false" />
        <activity
            android:name=".Belajar.WarnaJawi"
            android:exported="false" />
        <activity
            android:name=".Game.VG.FirstVG"
            android:exported="false" />
        <activity
            android:name=".Game.SG.FirstSG"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Result_Nombor"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Nombor1"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Nombor2"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Nombor3"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Nombor4"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Result_Warna"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Warna1"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Warna2"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Warna3"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Warna4"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Result_Buah"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Buah1"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Buah2"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Buah3"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Buah4"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Haiwan1"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Haiwan2"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Haiwan3"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Game_Haiwan4"
            android:exported="false" />
        <activity
            android:name=".Game.DD.DD_Result_Haiwan"
            android:exported="false" />
        <activity
            android:name=".Game.MG.FirstMG"
            android:exported="false" />
        <activity
            android:name=".Game.DD.FirstDD"
            android:exported="false" />
        <activity
            android:name=".Game.Cw.FirstCW"
            android:exported="false" />
        <activity android:name=".Quiz.Quiz_Nombor1" />
        <activity android:name=".Quiz.Quiz_Nombor2" />
        <activity android:name=".Quiz.Quiz_Nombor3" />
        <activity android:name=".Quiz.Quiz_Nombor4" />
        <activity android:name=".Quiz.Quiz_Nombor5" />
        <activity android:name=".Quiz.Quiz_ResultNombor" />
        <activity android:name=".Quiz.Quiz_Haiwan1" />
        <activity android:name=".Quiz.Quiz_Haiwan2" />
        <activity android:name=".Quiz.Quiz_Haiwan3" />
        <activity android:name=".Quiz.Quiz_Haiwan4" />
        <activity android:name=".Quiz.Quiz_Haiwan5" />
        <activity android:name=".Quiz.Quiz_ResultHaiwan" />
        <activity android:name=".Quiz.Quiz_Warna1" />
        <activity android:name=".Quiz.Quiz_Warna2" />
        <activity android:name=".Quiz.Quiz_Warna3" />
        <activity android:name=".Quiz.Quiz_Warna4" />
        <activity android:name=".Quiz.Quiz_Warna5" />
        <activity android:name=".Quiz.Quiz_ResultWarna" />
        <activity android:name=".Quiz.Quiz_Buah1" />
        <activity android:name=".Quiz.Quiz_Buah2" />
        <activity android:name=".Quiz.Quiz_Buah3" />
        <activity android:name=".Quiz.Quiz_Buah4" />
        <activity android:name=".Quiz.Quiz_Buah5" />
        <activity android:name=".Quiz.Quiz_ResultBuah" />
        <activity
            android:name=".Fragments.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.BelajarFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.QuizFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.GameFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".Game.Cw.Cw_nombor"
            android:exported="false" />
        <activity
            android:name=".Game.Cw.Cw_buahan"
            android:exported="false" />
        <activity
            android:name=".Game.Cw.Cw_haiwan"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Game.Cw.Cw_warna"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>